[submodule "headunit"]
	path = modules/android-auto/headunit
	url = https://github.com/viktorgino/libheadunit.git
[submodule "qml_gui"]
	path = qml_gui
	url = https://github.com/viktorgino/headunit-gui.git
[submodule "doxygen-bootstrapped"]
	path = doxygen-bootstrapped
	url = https://github.com/Velron/doxygen-bootstrapped.git
[submodule "welle.io"]
	path = modules/welle-io/welle.io
	url = https://github.com/viktorgino/welle.io.git
	branch = 3d-view-integration
[submodule "modules/volume-control/qml/plasma-pa"]
	path = modules/volume-control/qml/plasma-pa
	url = https://github.com/KDE/plasma-pa.git
[submodule "modules/navit/navit"]
	path = modules/navit/navit
	url = https://github.com/viktorgino/navit
